<ion-card>
  <h1>adasdas888888888</h1>
  <ion-img [src]="producto.imagen"></ion-img>
  <ion-card-header>
    <ion-card-subtitle>{{ producto.categoria }}</ion-card-subtitle>
    <ion-card-title>{{ producto.nombre }}</ion-card-title>
  </ion-card-header>
  <ion-card-content
    ><ion-item>
      <ion-icon name="cash" slot="start"></ion-icon>
      <ion-label class="ion-text-center">{{
        producto.precio | currency: "EUR"
      }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="basket" slot="start"></ion-icon>
      <ion-label class="ion-text-center">{{
        producto.stock | decimal: 2
      }}</ion-label>
      <ion-button (click)="_compra()" color="danger" fill="outline" slot="end">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <!-- <ion-icon name="cash" slot="start"></ion-icon> -->
      <ion-label class="ion-text-center">{{
        producto.feCreacion | date: "dd/MM/yyyy"
      }}</ion-label>
    </ion-item>
  </ion-card-content>
  <ion-button color="danger" expand="full" (click)="_editar()">
    <ion-icon name="create"></ion-icon>
    Editar </ion-button
  ><ion-button color="danger" expand="full" (click)="_eliminar()">
    Eliminar
  </ion-button>
</ion-card>
