<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon slot="icon-only" name="arrow-dropdown"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{ producto._id ? "Editar" : "Nuevo" }} producto </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="producto.nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Url Imagen</ion-label>
      <ion-input [(ngModel)]="producto.imagen"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select
        [(ngModel)]="producto.categoria"
        placeholder="Selecciona una opción"
      >
        <ion-select-option value="BEBIDAS">Bebidas</ion-select-option>
        <ion-select-option value="ALIMENTOS">Alimentos</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input [(ngModel)]="producto.precio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Stock</ion-label>
      <ion-input [(ngModel)]="producto.stock"></ion-input>
    </ion-item>
    <ion-button (click)="guardar()" expand="full" color="danger"
      >Guardar</ion-button
    >
  </ion-list>
</ion-content>
