<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <app-producto-card></app-producto-card> -->
  <!-- <app-producto-form></app-producto-form> -->
  <app-producto-list
    [listaProductos]="productos"
    (editar)="mostrarModal($event)"
    (eliminar)="eliminar($event)"
  ></app-producto-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="mostrarModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
